<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Dashboard {{template "title"}}</title>
    {{template "layout_style"}}
</head>

<body class="app">
    {{template "loader"}}
    <div>
        {{template "sidebar"}}
        <div class="page-container">
            {{template "header_navbar"}}
            <main class="main-content bgc-grey-100">
                <div id="mainContent">
                    {{template "content" .}}
                </div>
            </main>
            {{template "footer"}}
        </div>
    </div>
    {{template "layout_script"}}
</body>
</html>